<!-- <p>perso-detail works!</p>

                    <p>{{personne.id}}</p>
                    <p>{{personne.nom}}</p>
                    <p>{{personne.prenom}}</p>
                    <p>{{personne.telephone}}</p> -->

<div id="xoxo">
<div class="card" >
    <img src="assets/img/detail.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p>Nom : {{personne.nom}}</p>
        <p>Prenom : {{personne.prenom}}</p>
        <p>Telephone : {{personne.telephone}}</p>
        <p>civilite : {{patient.civilite}}</p>
        <p>Date de naissance : {{patient.date_naissance}}</p>
        <p>Lieu de naissance : {{patient.lieu_naissance}}</p>
        <p>Notionalié : {{patient.nationalite}}</p>
        <p>Profession : {{patient.profession}}</p>
    
        <a href="/personne" class="btn btn-primary">Fermer</a>
    </div>
  </div> </div>