
<!--
<form  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Nom</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name= "nom" [(ngModel)]="patient.nom" aria-describedby="emailHelp" placeholder="Votre nom " required  >
     
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Prenom</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name= "prenom" [(ngModel)]="patient.prenom" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">tel</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name= "tel" [(ngModel)]="patient.telephone" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      
      <label for="exampleSelect1"> Vous etes : </label>
      <div class="form-check">
        
        <label class="form-check-label" >
            <input type="radio" class="form-check-input" name="patient" id="optionsRadios2" value="PATIENT" [(ngModel)]="patient.role">
            patient
          </label>
        </div>
        <div class="form-check disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="medecin" id="optionsRadios3" value="PATIENT" disabled [(ngModel)]="patient.role">
            medecin
          </label>
        </div>
  

      <div class="form-group">
        <label for="exampleInputEmail1">Date de naissance</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name= "date_naissance" [(ngModel)]="patient.date_naissance" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">lieu de naissance</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name= "lieu_naissance" [(ngModel)]="patient.lieu_naissance" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nationalité</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name= "nationalite" [(ngModel)]="patient.nationalite" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      <label for="exampleSelect1"> Civilité: </label>
      <div class="form-check">
        
        <label class="form-check-label" >
            <input type="radio" class="form-check-input" name="femme" id="optionsRadios2" value="option2" [(ngModel)]="patient.civilite">
            Femme
          </label>
        </div>
        <div class="form-check disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="Homme" id="optionsRadios3" value="option3" disabled [(ngModel)]="patient.civilite">
            Homme
          </label>
        </div>
        <label for="exampleSelect1">Situation familiale :</label>
        <div class="form-check">
          
          <label class="form-check-label" >
              <input type="radio" class="form-check-input" name="celibataire" id="optionsRadios2" value="option2" [(ngModel)]="patient.situation_familial">
              Célibatairee
            </label>
          </div>
          <div class="form-check disabled">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="marie" id="optionsRadios3" value="option3" disabled [(ngModel)]="patient.situation_familial">
              Marié(e)
            </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="veuf(ve)" id="optionsRadios3" value="option3" disabled [(ngModel)]="patient.situation_familial">
                Veuf(ve)
              </label>
            </div>
      <div class="form-group">
        <label for="exampleSelect1">Ville</label>
        <select class="form-control" id="exampleSelect1" name = "ville" [(ngModel)]="patient.ville" >
        <option>choisissez votre Ville:</option>
          <option>Oujda</option>
          <option>Rabat</option>
          <option>Casablanca</option>
          <option>Fes</option>
          <option>Meknes</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">accompagnateur</label>
        <input type="email" class="form-control" name= "accompagnateur" [(ngModel)]="patient.accompagnateur" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Lien familiale</label>
        <input type="email" class="form-control" name= "lien_familial" [(ngModel)]="patient.lien_familial" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Metier</label>
        <input type="email" class="form-control" name= "profession" [(ngModel)]="patient.profession" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre nom ">
       
      </div>
   
    
    <div class="form-group">
      <label for="exampleTextarea">Adresse</label>
      <textarea class="form-control" id="exampleTextarea" rows="3" name= "adresse" [(ngModel)]="patient.adresse" ></textarea>
    </div>

    <div class="form-group">
      <label for="exampleSelect1">Groupe Sanguin</label>
      <select class="form-control" id="exampleSelect1" name= "groupe_sanguin" [(ngModel)]="patient.groupe_sanguin">
      <option>choisissez votre grp Sanguin:</option>
        <option>A</option>
        <option>A+</option>
        <option>A-</option>
        <option>B</option>
        <option>B+</option>
        <option>B-</option>
        <option>O</option>
        <option>O+</option>
        <option>O-</option>
        
        
      </select>
    </div>
   
   
    <button type="submit" class="btn btn-primary" name="submit">Valider</button> 

    <button  type="reset" class="btn btn-danger" id=marge>Annuler</button> 
</form>
-->
   
  
   <div class="personne-wrapper" fxLayout="column" fxLayoutAlign="left left">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Entrez vos Informations :</mat-card-title>
      </mat-card-header>

    <mat-card-content>
        <form (ngSubmit)="onSubmit()">

          <mat-grid-list cols="2" rowHeight='100px' [gutterSize]="'20px'">
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
                      <mat-form-field class="personne-full-width">
                        <mat-label>Entrez votre Nom</mat-label>
                        <input matInput placeholder="Nom" name="nom" [(ngModel)]="patient.nom" >
                      </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
                      <mat-form-field class="personne-full-width">
                        <mat-label>Entrez votre Prénom</mat-label>
                        <input matInput placeholder="Prenom"  name="prenom" [(ngModel)]="patient.prenom">
                      </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="2" rowHeight='100px' [gutterSize]="'20px'">
              <mat-grid-tile [colspan]="1" [rowspan]="1" >
                        <mat-form-field class="personne-full-width">
                          <mat-label> entrez votre Telephone</mat-label>
                          <input matInput placeholder="Telephone mobile"  name="tlf" [(ngModel)]="patient.telephone">
                        </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1" >
                <mat-form-field >
                  <mat-label>Votre date de naissance :</mat-label>
                  <input matInput [matDatepicker]="picker"  name="date_naiss" [(ngModel)]="patient.date_naissance">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="2" rowHeight='100px' [gutterSize]="'20px'">
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="personne-full-width" >
              <div class="example-container" class="personne-full-width">
                
               
                <mat-form-field class="personne-full-width">
                  <mat-label>Entrez votre Profession </mat-label>
                  <input matInput placeholder="profession"  name="profession" [(ngModel)]="patient.profession">
                </mat-form-field>
              </div>     
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
              <mat-form-field appearance="fill" >
                <mat-label>Votre groupe sanguin</mat-label>
                <mat-select  name="grp_sng" [(ngModel)]="patient.groupe_sanguin">
                  <mat-option value="A">A</mat-option>
                  <mat-option value="A">A+</mat-option>
                  <mat-option value="A">A-</mat-option>
                  <mat-option value="A">B</mat-option>
                  <mat-option value="A">B+</mat-option>
                  <mat-option value="A">B-</mat-option>
                  <mat-option value="A">O</mat-option>
                  <mat-option value="A">O+</mat-option>
                  <mat-option value="A">O-</mat-option>
                  <mat-option value="A">AB-</mat-option>
                    
                  
                </mat-select>
              <mat-hint align="end">cliquez pour lister</mat-hint>
              </mat-form-field> 
            </mat-grid-tile>
          </mat-grid-list>

          <br>
          <mat-grid-list cols="2" rowHeight='100px' [gutterSize]="'20px'">
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="personne-full-width" >
              <div class="example-container" class="personne-full-width">
                <mat-form-field appearance="fill" >
                  <mat-label>Votre ville natale</mat-label>
                  <mat-select name="villeNat" [(ngModel)]="patient.lieu_naissance">
                    <mat-option value="Oujda">Oujda</mat-option>
                    <mat-option value="Casablanca">Casablanca</mat-option>
                    <mat-option value="Rabat">Rabat</mat-option>
                    <mat-option value="Tanger">Tanger</mat-option>
                     <mat-option value="Fes">Fes</mat-option>
                      <mat-option value="Marrakech">Marrakech</mat-option>
                  </mat-select>
                <mat-hint align="end">cliquez pour lister</mat-hint>
                </mat-form-field>
                </div>
                      
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
              <mat-form-field class="personne-full-width">
                <mat-label>Entrez votre Nationalité </mat-label>
                <input matInput placeholder="Nationalité"  name="Nationalité" [(ngModel)]="patient.nationalite">
              </mat-form-field>  
            </mat-grid-tile>
          </mat-grid-list>

         
           
        <br>
            <mat-radio-group  name="civilité" [(ngModel)]="patient.civilite" >
              <mat-label>Civilité              : </mat-label>
              <mat-radio-button value="FEMME"> Femme </mat-radio-button>
              <mat-radio-button value="HOMME"> Homme </mat-radio-button>
            </mat-radio-group>
        <br>
        <br>
        <div class="example-container" class="personne-full-width">
          <mat-form-field appearance="fill" >
            <mat-label>Votre ville de résidence</mat-label>
            <mat-select name="VilleR"[(ngModel)]="patient.ville">
              <mat-option value="Oujda">Oujda</mat-option>
              <mat-option value="Casablanca">Casablanca</mat-option>
              <mat-option value="Rabat">Rabat</mat-option>
              <mat-option value="Tanger">Tanger</mat-option>
               <mat-option value="Fes">Fes</mat-option>
                <mat-option value="Marrakech">Marrakech</mat-option>
            </mat-select>
          <mat-hint align="end">cliquez pour lister</mat-hint>
          </mat-form-field>
          </div>
          <br>
          <br>
          <mat-radio-group name="sit_fam" [(ngModel)]="patient.situation_familial">
            <mat-label>Situation familiale              : </mat-label>
            <mat-radio-button value="FEMME"> Célibataire  </mat-radio-button>
            <mat-radio-button value="HOMME"> Marié(e) </mat-radio-button>
            <mat-radio-button value="HOMME"> Veuf(ve) </mat-radio-button>
            <mat-radio-button value="HOMME"> Divorcé(e) </mat-radio-button>
          </mat-radio-group>
          <br>
          <mat-grid-list cols="2" rowHeight='100px' [gutterSize]="'20px'">
            <mat-grid-tile [colspan]="1" [rowspan]="1"  >
                      <mat-form-field class="personne-full-width">
                        <mat-label>Nom d'accompagnateur</mat-label>
                        <input matInput placeholder="Nom d'accompagnateur" name="nom_accompagnateur" [(ngModel)]="patient.accompagnateur">
                      </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
                      <mat-form-field class="formX">
                        <mat-label>Lien familial</mat-label>
                        <input matInput placeholder="Lien familial" name="lien_familial" [(ngModel)]="patient.lien_familial" >
                      </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-form-field class="example-full-width">
            <mat-label>adresse</mat-label>
            <textarea matInput placeholder="Ex. 26,Rue maqdis" name="adresse" [(ngModel)]="patient.adresse"></textarea>
          </mat-form-field>
          <br>

          <mat-radio-group  name="role" [(ngModel)]="patient.role" >
            <mat-label>Vous etes               : </mat-label>
            <mat-radio-button value="PATIENT"> patient </mat-radio-button>
            <mat-radio-button value="MEDECIN"> medecin </mat-radio-button>
          </mat-radio-group>

         
    
    <div>
      <button mat-raised-button color="primary" type="submit" class="button">Enregistrer</button>
    </div>

  
  </form>
  </mat-card-content>
    </mat-card>
</div> 