
 
<div id="xoxo">
    <div class="card" >
        <img src="assets/img/consultation.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            
            <p>date Début : {{consultation.dateDebut}}</p>
            <p>date fin : {{consultation.dateFin}}</p>
            <p>montant : {{consultation.montant}}</p>
            <p>Statut: {{consultation.statut}}</p>
            <p>Symptomes : {{consultation.symptomes}}</p>
            <p>Traitement: {{consultation.traitement}}</p>
            <p>Nom medecin  : {{consultation.medecin.nom}}</p>
            <p>Spécialité du medecin  : {{consultation.medecin.specialite}}</p>
            
            
        
            <a href="/consultations" class="btn btn-primary">Fermer</a>
        </div>
      </div> </div>