


 <div class="container-fluid mt-3">
       <h4 class="mb-2">Modifiez les informations correspondantes :</h4>
       <form (ngSubmit)="onSubmit()">
         <div class="form-row">
            <div class="form-group col-sm-2">
               <label for="myZip">N° consultation :</label>
               <input type="text" class="form-control" readonly name="id" [(ngModel)]="consultation.id">
            </div>
             <div class="form-group col-sm-4">
                <label for="myState">Statut :</label>
                <select id="myState" class="form-control" name="statut" [(ngModel)]="consultation.statut">
                   <option selected value="DISPONIBLE">DISPONIBLE</option>
                   <option value="ANNULE">ANNULE</option>
                </select>
             </div>

            <div class="form-group col-sm-6">
               <label for="myCity">Montant :</label>
               <input type="text" class="form-control"  name="montant" value ="{{consultation.montant}}" [(ngModel)]="consultation.montant">
            </div>
            </div>
          <div class="form-row">
             <div class="form-group col-sm-6">
                <label for="myEmail">Date début :</label>
                <input type="email" class="form-control"
                   id="myEmail" value ="{{consultation.dateDebut}}" name="dateDebut" [(ngModel)]="consultation.dateDebut">
             </div>
             <div class="form-group col-sm-6">
                <label for="myPassword">Date fin :</label>
                <input type="text" class="form-control"
                   id="myPassword" value ="{{consultation.dateFin}}" name="dateFin" [(ngModel)]="consultation.dateFin">
             </div>
          </div>

          <div class="form-group">
             <label for="inputAddress">Détails :</label>
             <textarea type="text" class="form-control"
                id="myAddress" value ="{{consultation.details}}" name="details" [(ngModel)]="consultation.details"> </textarea>
          </div>
          <div class="form-group">
            <label for="inputAddress">Symptomes :</label>
            <textarea type="text" class="form-control"
               id="myAddress" value ="{{consultation.symptomes}}" name="symptomes" [(ngModel)]="consultation.symptomes"> </textarea>
         </div>
         <div class="form-group">
            <label for="inputAddress">Traitement : </label>
            <textarea type="text" class="form-control"
               id="myAddress" value ="{{consultation.traitement}}" name="traitement" [(ngModel)]="consultation.traitement"> </textarea>
         </div>

          <div class="form-group">
             <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="myCheck">
                Check me out
                </label>
             </div>
          </div>
          <button type="submit" class="btn btn-primary">Modifier</button>
       </form>
    </div>


